<div class="container">
    <div class="row">
        <div class="col-xs-12">
                
            <div class="row">
                <div class="col-xs-6">
                    <h1>User Profile</h1>
                </div>
            </div>

            <div class="page-header">
                <h4>Owner</h4>
            </div>
            
            <div class="row">
                <div class="col-xs-3">
                    <p><strong>E-mail</strong></p>
                </div>
                <div class="col-xs-6">
                    <p>josh@psidox.com</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <p><strong>Name</strong></p>
                </div>
                <div class="col-xs-6">
                    <p>Joshua Bellamy-Henn</p>
                </div>
            </div>

            <div class="page-header">
                <h4>Charlie</h4>
            </div>            

            <div class="row">
                <div class="col-xs-3">
                    <p><strong>Temperature</strong></p>
                </div>
                <div class="col-xs-6">
                    <p>20 &deg;C</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <p><strong>Heart Rate</strong></p>
                </div>
                <div class="col-xs-6">
                    <p>43 bpm</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <p><strong>Location</strong></p>
                </div>
                <div class="col-xs-6">
                    <p>32.2, 32.2</p>
                </div>
            </div>


            <div class="page-header">
                <h4>Amanda</h4>
            </div>            

            <div class="row">
                <div class="col-xs-3">
                    <p><strong>Temperature</strong></p>
                </div>
                <div class="col-xs-6">
                    <p>20 &deg;C</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <p><strong>Heart Rate</strong></p>
                </div>
                <div class="col-xs-6">
                    <p>43 bpm</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <p><strong>Location</strong></p>
                </div>
                <div class="col-xs-6">
                    <p>32.2, 32.2</p>
                </div>
            </div>            

  
        </div>
    </div>
</div>
