
<br />
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div class="jumbotron">
                
                <div class="row">
                    <div class="col-xs-12 visible-xs visible-sm">
                        <img src="/image/saddledome.jpg" class="img-responsive thumbnail">
                    </div>
                    <div class="col-xs-12 col-md-6">

                        <h1>SaddleWoof</h1>
                        <p>Dog park, evolved.</p>
                        <p>&nbsp;</p>

                        <div class="row">                
                            <div class="col-sm-6 col-xs-12 margin-bottom-10" style="text-align: center;"><a class="btn btn-primary btn-lg" href="#" ng-click="$keycloak.login()" role="button">Returning User</a></div>
                            <div class="col-sm-6 col-xs-12" style="text-align: center;"><a class="btn btn-primary btn-lg" href="{{createAccountUrl}}" role="button">Create Account</a></div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-6 hidden-xs hidden-sm">
                        <img src="/image/saddledome.jpg" class="img-responsive thumbnail">
                    </div>
                </div>
      
            </div>

        </div>
    </div>
</div>
