<div class="container">
    <div class="row">
        <div class="col-xs-12">
                
            <div class="row header">
                <div class="col-xs-12">
                    <h1>Administration<br /><small>Dog to Owner Association</small></h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="page-header">
                        <h4><i class="fa fa-paw fa-fw"></i> Dog</h4>
                    </div>            
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="page-header">
                        <h4><i class="fa fa-user-plus fa-fw"></i> Owner</h4>
                    </div>            
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="page-header">
                        <h4><i class="fa fa-paw fa-fw"></i> Dog</h4>
                    </div>            
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="page-header">
                        <h4><i class="fa fa-user-plus fa-fw"></i> Owner</h4>
                    </div>            
                </div>
            </div>

            <div class="row">
                <panel-dog class="col-xs-12 col-md-6" dog="dog" owners="owners" ng-repeat="dog in dogs">
                </panel-dog>            
            </div>

        </div>


    </div>
</div>
